# Ignore Python virtual environments
.venv/

# Ignore large model weights
/helmet_model/weights/best.pt
/helmet_model/weights/last.pt

#Ignore input and uploads folders
/static/output/
/static/uploads/

# Ignore zip and temp files
*.zip
